In [33]:
import pandas as pd
from sodapy import Socrata
import json
import requests as req
import matplotlib.pyplot as plt
import numpy as np

#Connecting to API
length_data = 468,761
app_token = "X2gMakh5B2retT4oRxgQy2A9R"
#$$app_token=" + app_token
url = ("https://data.cityofnewyork.us/resource/7x9x-zpz6.json?$limit=4000&$offset=0")

results = req.get(url).json()

#put json data into dataframe
results_df = pd.DataFrame(data = results, columns = {"boro_nm", "rpt_dt", "ofns_desc","lat_long","law_cat_cd","prem_typ_desc"})

#rename columns
cleaned_df = results_df.rename(columns = {"boro_nm":"Borough", "rpt_dt": "Report Date", "ofns_desc": "Offense Decription", "lat_long":"Location", 
                                          "law_cat_cd":"Degree Of Crime", "prem_typ_desc":"Location Type"})

cleaned_df.head()

,Location Type,Location,Degree Of Crime,Borough,Offense Decription,Report Date
0,STREET,NaN,MISDEMEANOR,BROOKLYN,SEX CRIMES,2017-01-27T00:00:00.000
1,RESIDENCE - APT. HOUSE,NaN,FELONY,BRONX,SEX CRIMES,2017-03-20T00:00:00.000
2,RESIDENCE - APT. HOUSE,NaN,FELONY,BROOKLYN,RAPE,2017-03-22T00:00:00.000
3,TRANSIT - NYC SUBWAY,NaN,MISDEMEANOR,MANHATTAN,SEX CRIMES,2017-01-05T00:00:00.000
4,STREET,NaN,MISDEMEANOR,QUEENS,SEX CRIMES,2017-03-22T00:00:00.000

In [34]:
#group by
#total_borough_df = cleaned_df["Borough"].value_counts()
#total_crime_df = cleaned_df["Degree Of Crime"].value_counts()
man_filter = cleaned_df['Borough']=='MANHATTAN'
man_filter
#total_crime_df
#test_df = pd.DataFrame(total_borough_df)
#test_2_df = pd.DataFrame(total_crime_df)
#test_2_df

#enter data frame for each borough
#brooklyn,Manhattan, Bronx, Queens, Staten Island
man_df = (cleaned_df["Borough"]=="MANHATTAN").value_counts()
#man_df
#plot 

#test_df.plot.bar()
#test_2_df.plot.bar()
#plt.title("Crimes Per Borough")
#plt.xlabel("Borough")
#plt.ylabel("# of Crimes")
#plt.show()